body{
    margin: 20px;
}
p{
    margin-top: 5px;
}
h1 {
    font-size: 30px;
}
.ball-button{
    display: inline-block;
    height: 150px;
}
#instructions{
    margin-top: 10px;
    width: 440px;
    background-color: rgb(233, 81, 220);
    padding: 10px;
}
#target-score{
    font-size: 20px;
    font-weight: bold;
}